@import '../../Styles/variables';

.user-list { font-size:10px; margin-bottom:10rem;
  table { width:100%; font-size:1.8rem; }
  thead {
    tr { background-color:$dk-gray; }
    th { padding:0.75rem; color:#fff; font-weight:bold; text-transform:uppercase; }
  }
  tbody {
    tr { border-bottom:1px solid #cfcfcf;
      &:nth-child(even) { background-color:#fff; }
      &:nth-child(odd) { background-color:#f3f3f3; }
      td { padding:0.5rem; }
    }
  }
  @media screen and (max-width:1279px) {
    th, td {
      &:nth-child(-n + 8):nth-child(n +6) { display:none }
    }
  }
  @media screen and (max-width:959px) {
    thead, tbody {
      tr {
        th, td { font-size:1.4rem; }
      }
    }
  }
  @media screen and (max-width:640px) {
    th, td {
      &:nth-child(5) { display:none }
    }
  }
}

.filter { font-size:2rem; border:1px #000 solid; padding:0.25rem; margin-bottom:2rem; }