// Typography

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');

html {
  font-family:'Barlow', sans-serif;
  font-size:10px;
}

// Colors

$red: #c00;
$dk-gray: #333;
$lt-gray: #888;
$highlight: #ec9b03;
