@import '../../Styles/variables';

#contact {
  h2 { text-align:center; }

  .form-item {
    &[aria-hidden="true"] { display:none!important; }
  }

  .contact-information { width:42%; max-width:800px; margin:0 auto; padding:4rem 2rem; border-radius:1rem;
    @media screen and (max-width:1279px) { width:530px; }
    @media screen and (max-width:639px) { width:calc(100% - 2rem); }
    .icon-wrap { text-align:center; }
    .icon { width:5rem; display:inline-block; vertical-align:middle; margin:0 1em;
      svg { width:100%; height:auto; fill:#fff; transition:fill 0.25s ease-in-out; }
      a { outline:none;
        &:hover, &:focus {
          svg { fill:$highlight; }
        }
      }
    }
    .form-success, .form-failure {
      p { margin-top:4rem; color:#fff; text-align:center; }
    }

    #staticform { display:grid; grid-template-columns:repeat(2, minmax(0, 1fr)); grid-gap:2rem; margin-top:4rem; grid-template-areas:'name email' 'message message';
      @media screen and (max-width:539px) { grid-template-columns:minmax(0, 1fr); grid-template-areas:'name' 'email' 'message'; }
      .field { font-size:2rem;
        @media screen and (max-width:539px) { font-size:3rem; }
        &.name { grid-area:name; }
        &.email { grid-area:email; }
        &.message { grid-area:message; }
        label { font-size:inherit; margin-bottom:0.2em; display:block; }
        textarea, input { width:100%; font-size:inherit; padding:0.5rem; font-size:1.6rem; color:#000; outline:none; background-color:#fff; display:block; border-radius:0.25rem; padding:1em;
          &:hover, *:focus { outline:$highlight 2px solid; }
        }
        textarea { resize:vertical; min-height:120px; }
      }
    }
  }
}