@import '../../Styles/variables';

.primary-nav { background-color:#000; color:#fff; padding:1rem; text-align:right;
  li { display:inline-flex; font-size:1.8rem; font-weight:600; margin-inline:1em; text-transform:uppercase; vertical-align:middle;
    a { text-decoration:none; position:relative;
      &:after { content:''; width:0; position:absolute; left:0; bottom:0; border-bottom:2px solid $highlight; transition:width 0.25s ease-in-out; }
      &:hover, &:focus, &.active {
        &:after { width:100%; }
      }
    }
  }
}