@import '../../Styles/variables';

footer { position:fixed; bottom:0; width:100%; max-width:1920px; background-color:$dk-gray; color:#fff; padding:2rem 2rem;
  p { font-size:1.4rem; text-align:right; margin:0; }
}