@import '../../Styles/variables';

#skills { margin-bottom:8rem;
  h2 { text-align:center; margin-bottom:1em; }

  .skill-wrap { display:flex; flex-wrap:wrap; gap:2rem; width:83.3%; margin:0 auto;
    @media screen and (min-width:480px) {
      &:hover, &:focus-within {
        .skill { opacity:0.75; transform:scale(0.95); filter:blur(3px);  }
      }
    }
    @media screen and (max-width:479px) {
      width:100%;
    }
    .skill { flex-basis:20%; flex-grow:1; min-width:220px; padding:2rem; box-sizing:border-box; background-color:rgba(0,0,0,0.8); transition:all 0.25s ease-in-out; border:2px transparent solid; cursor:default;
      &:hover, &:focus-within { opacity:1; transform:scale(1); filter:none; }
    }
    h3 { font-size:2rem; margin-bottom:0.5rem; text-transform:uppercase; color:$highlight; }
    p { font-size:1.8rem; padding-top:0.2em; margin-top:0.4em; border-top:1px #888 solid; color:#eaeaea; }
  }
}