@import '../../Styles/variables';

.admin-side-menu { height:100%; width:100%; background-color:#000; font-size:1rem;
  a { height:4em; width:4em; margin:0 auto; display:block; margin:2em; border:3px solid transparent; border-radius:50%; box-sizing:border-box;
    svg { fill:#fff; display:block; width:100%; height:auto; transition:fill 0.25s ease-in-out; }
    &:hover, &:focus, &.active {
      svg { fill:$highlight; }
    }
  }
  @media screen and (max-width:959px) {
    a { display:inline-block; }
  }
  @media screen and (max-width:479px) { font-size:2.1vw; }
}